*{
    margin-left: auto;
    margin-right: auto;
}

h1{
    color: blueviolet;
}

img{
    width: 400px;
    margin: 10px
}

#thirdDiv{
    height: 600px;
    width: 500px;
    background-color: aqua;
    padding: 50px;
    border: solid black 2px;
}

#spanId{
    font-size: 18px;
}
